html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #2c3e50;
}

* {
  box-sizing: border-box;
}

#app {
  padding: 0 20px;
}

ul {
  line-height: 1.5em;
  padding-left: 1.5em;
}

a {
  color: #7f8c8d;
  text-decoration: none;
}

a:hover {
  color: #4fc08d;
}

.error {
  color: #d21717;
  background: #f1dede;
  border-radius: 4px;
  padding: 14px;
}

pre {
  font-size: 1.2em;
  overflow-x: auto;
  position: relative;
  padding: 0;
  background-color: #f8f8f8;
  padding: 0.8em 0.8em 0.4em;
  line-height: 1.1em;
  border-radius: 2px;
}

input {
  border: 1px solid #d2d2d2;
  padding: 7px;
  font-size: 1.1em;
  border-radius: 4px;
  display: block;
  margin: 14px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #2c3e50;
  width: 100%;
}

button, input[type=submit] {
  border: 0 none;
  padding: 7px;
  font-size: 1.1em;
  border-radius: 4px;
  display: block;
  color: #fff;
  background: #86c173;
  width: 100%;
}
